@import '../../variables.scss';

.add-form {
    margin-top: 20px;

    input {
        width: 350px;
        margin-right: 20px;

        @media(max-width: 930px) {
            width: 100%;
        }
    }

    label {
        @media(max-width: 930px) {
            width: 100%;
        }
    }

    @media(max-width: 930px) {
        flex-wrap: wrap;
    }

    button {
        @media(max-width: 930px) {
           margin-top: 10px;
        }
    }
}

.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);
    color: $main-color
}